[user]
	email = obryniarski@berkeley.edu
	name = Oliver
[core]
  editor = nvim
[alias]
	cm = commit -m
	co = checkout
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
[diff]
  external = difft --display side-by-side
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
